@font-face {
   font-family: TodaySHOP-Regular;
   src: url(fonts/TodaySHOP-Regular.eot);
   src: url(fonts/TodaySHOP-Regular.eot) format('embedded-opentype'), url(fonts/TodaySHOP-Regular.woff) format('woff'), url(fonts/TodaySHOP-Regular.otf) format('otf'), url(fonts/TodaySHOP-Regular.ttf) format('truetype'), url('fonts/TodaySHOP-Regular.svg#TodaySHOP-Regular') format('svg');
}
body {
   font-family:TodaySHOP-Regular;
}
.padding0 {
    padding:0px;
}
.rm-mod-foot{
    border: 0px !important;
    padding: 0px !important;
}
.map-marker-pos{
    position: absolute;
    top: 10px;
    left: 80px;
}
.p-tb15-lr-0{
    padding: 15px 0px;
}
.service-img-div>img {
    margin: 0 auto;
    max-width: 90px;
}
.hw-ft{
    font-size: 11px;
    color: #fff;
}
.hw-tx{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 420px;
    margin-left: 85px;
}
.hw-bg{
    background: rgba(122, 122, 122, 0.93);
}
.txt-wht{
    color: #fff;
}
.not-view-pro{
    height: 50px;
    color: #fff !important;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.not-view-pro:hover,.not-view-pro:active.not-view-pro:focus{
    color: #fff !important;
    text-decoration: none;
}
.vi-de-co{
    background: #67e9b4;
}
.pro-pay-co{
    background: #fb7d7d;
}
#msgmodal {
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.emergeny{
    width: 80%;
    position: absolute;
    top: 40%;
    left: 10%;
}
.error-txt {
    font-size: 22px;
    margin-top: 0px;
    color: #909090;
    background: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.err-div {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    height:120px;
}
.assign-genie-footer{
    border: 0px;
    height: 40px;
    background: #67e9b4;
    width: 100%;
    border-radius: 0px 0px 6px 6px;
    color: #fff;
    font-size: 20px;
}
.fa-green-check{
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.compalints-txt{
    font-size: 22px !important;
}
.excla{
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 50px;
}
.complaints-exc-circle{
    width: 60px;
    height: 60px;
    background: rgba(128, 128, 128, 0.25);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.ccname {
    position: relative;
    top: 10px;
}
.g-name{
    color: #5bc0de !important;
    font-size: 24px !important;
}
.ass-congr{
    font-size: 30px;
    color:#777;
}
.found-genie{
    color: #777;
    font-weight: 600;
}
.vertical-align {
    display:flex;
    align-items:center;
}
.assign-genie{
    font-size: 20px;
    color: #777;
    font-weight: 500;
}
.assign-num{
    color:  #5bc0de;
    text-decoration: underline;
}
.notification-text{
    font-size: 22px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.75);
}
.modal-footer:hover{
    cursor: pointer;
}
.width-100{
    width: 100% !important;
}
.green-check-bag{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #67e9b4;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.complaints-box{
    border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.ass-gen-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}
.star-h{
    height: 20px;
}
.input,.textarea{
    color: blue;
}
.accept-div{
    height: 40px;
    background: #67e9b4;
    color: #fff;
    font-size: 20px;
}
.submit-div{
    height: 40px;
    background: #67e9b4;
    color: #fff;
    border-radius: 0px 0px 6px 6px;
}
.view-est{
    text-decoration: underline;
    color: #5bc0de;
    font-size: 22px;
}
.est-not-img{
    height: 50px;
    width: 30%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top:20px;
}
.reject-div{
    height: 40px;
    background: #fb7d7d;
    color: #fff;
    font-size: 20px;
}
.navbar-default {
    height:69px;
    background-color:#fff;
    margin-bottom:0px;
    border: none;
    border-radius: 0px;
}
.login-span {
    position: relative;
    top: 20px;
    right: 80px;
}
.homegenie {
    width: 100px;
    height: 56px;
    margin-left: 60px;
}
.nav-cat-div {
    height:69px;
    font-family:TodaySHOP-Regular;
}
.nav-cat {
    list-style-type:none;
}
.nav-cat>li {
    display:inline-block;
    margin-left:55px;
}
.nav-cat>li>a {
    text-decoration:none;
    color:#a1a1a2;
}
.nav-login {
   /* height:69px;*/
    color:#a1a1a2;
}
.login {
    margin-left:10px;
    cursor:pointer;
}
.login-separator {
    margin:0 10px;
}
/*singIn and SignUp css starts here*/
.login-modal {
    border-radius:0px;
    height:402px;
}
.modal-dialog {
    width:712px;
}
.cross {
    /* font-size: 18px; */
    float: right;
    /* background: #fff; */
    z-index: 9;
    position: relative;
    top: -17px;
    /* padding: 4px 8px; */
    /* border-radius: 50px; */
    /* border: solid 1px #ddd; */
    /* line-height: 1; */
    right: -15px;
    cursor: pointer;
}
.crossImg {
    max-width:35px;
}
.login-text {
    margin-top:35px;
    font-size:22pt;
    color:#37bde7;
}
.input-login {
    width:85%;
    height:32px;
    margin-bottom:10.16px;
    border:solid 1px #ddd;
    outline:none;
    padding-left: 10px;
}
.pointer {
    cursor:pointer;
}
.forgot {
    margin-left:7.5%;
    text-align:left;
    color:#37bde7;
}
.signup-txt {
    color:#37bde7;
}
.signup-p {
    margin-top:35px;
    font-size:18pt;
}
.signup-account {
    background:#62eab1;
    color:#fff;
    height:43px;
    font-size:18pt;
    margin-top:10px;
}
.signup-account p {
    margin-bottom:0px;
    margin-top:5px;
}
.registration-msg {
    line-height:1;
    margin-bottom:0px;
    font-size:42pt;
}
.success-msg {
    padding:0 60px;
}
.success-msg>p {
    font-size:22pt !important;
}
.thankyou {
    padding:0 60px;
    margin-top:30px;
    font-size:14pt;
}
.resetpwd {
    font-size:24pt;
    border-bottom:solid 1px #37bde7;
    color:#37bde7;
}
.userbox {
    width: 156px;
    height: 30px;
    border: solid 1px #ddd;
    border-radius: 15px;
    margin-top: 18px;
    float: right;
    margin-right: 60px;
    background:#ddd;
}
.user-img {
    max-width: 30px;
    height: 28px;
}
.user-name {
    position: relative;
    /* top: -22px; */
    left: 35px;
    color: #4c4c4c;
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user-menu-arrow {
    position: relative;
    top: -50px;
    float: right;
    right: 10px;
}
.account-menu {
    width: 187px;
    height: auto;
    margin-left: 15px;
    border-radius: 0px;
    margin-top: -2px;
    margin-right:60px;
}
.account-menu>li {
    cursor:pointer;
}
.account-menu>li>a {
    width:100%;
}
.triangle {
    /*position: relative;*/
    background: #ffffff;

}
.triangle:after, .triangle:before {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.triangle:after {
    border-color: rgba(255, 247, 247, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    margin-left: -28px;
}
.triangle:before {
    border-color: rgba(236, 236, 236, 0);
    border-bottom-color: #4c4c4c;
    border-width: 20px;
    margin-left: -29px;
}
.tri:after, .tri:before {
    left:97%
}
.account-menu>li>p {margin-bottom:0px;padding-left:20px;}
.account-menu>li {
    height:40px;
    display:flex;
    align-items:center;
}
.li-mysetting {
    /*border-top: solid 1px #ddd;*/
    border-bottom: solid 1px #ddd;
}
.li-notification {
    background:#ddd;
}
.not-dot {
    font-size: 10px;
    position: relative;
    left: -12px;
}
.notification-no {
    position:relative;
    left:-8px;
}
.bkn-hiw-btn-ht{
    height: 38px;
}
.reviewmodal {
    height:100px;
}
.fixedmodal {
    height:320px !important;
}
.inspection-modal {
    height:320px;
}
input, textarea {
    background:#fff;
}

.wid-side{
    width: 200px;
}
.service-align {
    text-align:right;
}
.rm-row{
    margin-left: 0px;
    margin-right: 0px;
}
.margin-btm-10{
    margin-bottom: 10px;
}
.vector{
    max-width: 100%;
}
.vector-smart{
    max-width: 100%;
}
.header-pad{
    padding: 20px 15px;
}
.pad-10{
    padding: 0 10px !important;
}
.fea-ser{
    font-size: 20px;
}
.click-to-bk-ser{
    font-size: 11px !important;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.67);
}
.dash-div{
    height: 34px;
    position: relative;
    left: 13%;
    top: 4%;
}
.pos-rad-txt{
    position: relative;
    top: 4px;
    left: 5px;
}
.dash-o-div{
    height: 34px;
    position: relative;
    left: 10%;
    top: 4%;
}
.p-btn-hw-bk{
    padding-top: 5px !important;
}
.dash-det-di{
    left: 19% !important;
}
.sidenav-genie{
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
}
.hw-bac{
    background: rgba(128, 128, 128, 0.78);
    border-radius: 0px;
}
.disp-flex{
    display: flex;
}
.genie-side-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.m-b-50{
    margin-bottom: 50px;
}
.mar-12-but{
    margin-bottom: 10px !important;
}
.mar-15{
    margin-bottom: 15px !important;
}
.mar-top-mhsa{
    margin-top: 30px !important;
    margin-bottom: 45px !important;
}
.mar-30{
    margin-bottom: 30px !important;
}
.fon-wgyc-nh-yhg{
    font-size: 29px;
    color: #3E474A;
}
.back-blue{
    background-color: rgb(61,190,232);
    max-width: 100%;
    height: 60px;
}
.offer-back{
    background-color: rgb(61,190,232);
    max-width: 96%;
    margin: 0 2%;
}
.footer-img-wh{
    width: 52px;
    height: 70px;
}
.max-w-mhsa{
    max-width: 62%;
    margin: 0 10%;
}
.bok-nw-hwi{
    max-width: 32%;
    margin: 0 40% 0 10%;
}
.bk-nw-hwi{
    width: 170px;
    color: rgba(255,255,255,255) !important;
    font-size: 20px;
}
.mt-10{
    margin-top: 10px;
}
.margin-left{
    margin-left: 10px !important;
}
.md-hw-foot{
    text-align: center;
    background: #62eab1;
    border: 0px !important;
    color: #fff;
    font-size: 18px;
    height: 40px;
}
.bk-nw-hwi:hover,.bk-nw-hwi:active{
    width: 170px;
    color: rgba(255,255,255,255) !important;
    font-size: 20px;
}
.btn:focus{
    outline: 0px !important;
}
.hw-md{
    text-align: center;
    font-size: 26px;
}
.btn-info{
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
.btn-info:hover,.btn-info:hover{
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
.type-bt-wh{
    width: 250px;
    color: #D4D2D2;
    font-size: 26px;
    padding: 0px 80px 0px 0px;
}
.subcategory-select{
    background: #fff;
    width: 100%;
    height: 35px;
    color: #a1a1a2;
    outline: none;
}
.text-left{
    text-align: left;
}
.scroll{
    overflow-y: scroll;
    height: calc(100vh - 144px);
}
.scroll-body{
    overflow-y: scroll;
    height: calc(100vh - 50px);
}
.pad-0-5{
    padding : 0 6px !important;
}
.pad-l{
    padding-left: 5px !important;
}
.email-to{
    color: #333;
}
.email-to:hover,.email-to:active{
    color: #333;
}
.txt-gray{
    color: gray;
    font-size: 18px;
}
.pop-tlr-rad{
    border-radius: 10px 0px;
}
.head-font-42-sscf{
    font-size: 30px;
    line-height: 1;
}
.font-y{
    margin: 0px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: #808080;
}
.a-book{
    color: #fff;    
}
.a-book:hover,.a-book:active,.a-book:focus{
    color: #fff !important;
    text-decoration: none !important;
}
.pad-btm-20{
    padding-bottom: 20px;
}
.mar-0{
    margin: 0px !important;
}
.email{
    font-size: 13px;
}
.font-y-hg{
    font-size: 7px;
    margin: 0px;
    color: #808080;
    text-align: center;
    font-weight: 400;
}
.bold{
    font-weight: 600;
}
.claim{
    color: rgb(61,190,232);
    border: 0px;
}
.sup-num{
    color: rgb(61,190,232);
}
.y-hg-ht{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.y-hg-img{
    margin: 0 auto;
    max-width: 30%;
}
.mar-le{
    margin-left: 10px;
}
body{
    background: #EFEEEE;
}
.text-wid{
    max-width: 48%;
    margin: 0 56% 0 10%;
}
.pad{
    padding: 20px;
}
.pad-l-r{
    padding: 0px 20px;
}
.back-gray{
    background-color: rgb(62,65,79);
    max-width: 100%;
}
.colr-mh{
    color: #7B8F96;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1;
}
.colr-sra{
    color: #7B8F96;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1;
}
.no-wrap{
    white-space: nowrap;
}
.p{
    margin: 0px !important;
}
.text{
    color: #fff;
}
.pad-right{
    padding-right: 10px !important;
}
.pad-t-b{
    padding: 10px 0px;
}
.pad-tb-5{
    padding: 5px 0px;
}
.font-footer{
    font-size: 10px;
    color: #fff;
}
.btm-ic-im{
    width: 80%;
}
.john-text{
    margin-top: 10px !important;
    color: rgb(61,190,232);
}
/*.margin-right{
    margin-right: 10px;
}*/
/*.cards{
    background: rgb(255,255,255);
    border: 1px solid rgb(255,255,255);
    border-radius: 10px;
}*/
.text-center{
    text-align: center;
}
.pad-tb-fs{
    padding: 35px 0 20px 0px;
}
.lh{
    line-height: 0.7;
}
.center-align{
    display: flex;
    align-items: center;
}
.gray-text{
    color: #808080;
    font-size: 16px;
}
.pad-70{
    padding-top: 70px;
}
.pad-tb{
    padding: 10px 0px;
}
.fixed-top-nav{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    height: 50px;
}
.mar-btm-0{
    margin-bottom: 0px !important;
}
.dash-ps{
    position: relative;
    left: 15%;
    top: 4%;
}
.fixed-bottom-nav{
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 0 15px;
    height: 94px;
}
.col-category{
    width: calc((100vw - 30px)/3);
    height: 100px;
    background: #fff;
    margin: 0 3px 6px 3px;
    padding: 0px!important;
    border-radius: 3px;
}
.dash-offers{
    color: rgb(255,255,255);
    font-size: 22px;
    font-weight: 400;
}
.category-img-align{
    display: flex;
    align-items: center;
}
.dash-fo{
    font-size: 23px;
    color: rgb(255,255,255);
    font-weight: 400;
}
.img{
    max-width: 100%;
}
.back-white{
    background: rgb(255,255,255);
}
.signup-checkbox{
    position: relative;
    top: 2px;
}
.sign-home-footer-text{
    width: 100%;
    margin: 0px !important;
}
.featured-images{
    max-width: 100%;
}
.rm-col{
    padding-left: 0px;
    padding-right: 0px;
}
.book-scroll{
    overflow-y: scroll;
    height: calc(100vh - 100px);
}
.menu-down-size{
    font-size: 12px;
}
.sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    height: calc(175px + calc(100vh - 175px));
    width: 200px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 40px;
    transition: left .3s ease;
}
.content{
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f7f7f7;
}
/*:not(.modal){
    transform: none;
}*/
.sidenav a:nth-child(odd){
    background: rgba(153, 153, 153, 0.03);
}
.sidenav1{
    background: rgba(128, 128, 128, 0.32);
    margin-bottom: 50px;
}
.sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.44);
    font-weight: 300;
    display: block;
    transition: left .3s ease;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.font-fam-hok{
    font-family: HOK Sans Pro Book !important;
    font-size: 12px;
}
.side-menu-img{
    width: 20%;
}
.nowrap{
    white-space: nowrap;
}
.mar-rt-5{
    margin-right: 5px;
}
.mar-side-ic10{
    margin-right: 10px;
}
/*camera css*/
#yourimage {
    width:100%; 
}
.issue-detail, .datetime-left {
    margin-left: 20px;
}

#swatches {
    width: 100%;
    height: 50px;   
}
.swatch {
    width:18%;
    height: 50px;
    border-style:solid;
    border-width:thin;  
    float: left;
    margin-right: 3px;  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width:767px) {
    .homegenie {
        margin-left:10px;
        margin-top:5px;
    }
    .ongoing-btn-grp {
        height: auto;
        display: inline-block;
        align-items: center;
    }
    .xs-subcatName {
        margin-bottom: 0px;
        width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        padding-left: 10px;
        font-size: 18px;
        color: #7a7a7a;
    }
    .login-span {
        right:10px;
    }
    .account-menu,.userbox {
        margin-right:10px;
    }
    .service-align {
        text-align:left;
    }
    .issue-detail, .datetime-left {
        margin-left: 0px;
    }
    .datetime-left {
    font-size: 13px;
}
}
@media (min-width:768px) and (max-width:991px) {
    .homegenie {
        margin-left:30px;
        margin-top:5px;
    }
    .login-span {
        right:30px;
    }
    .account-menu,.userbox {
        margin-right:30px;
    }
    .service-summary-box p span:nth-child(2) {
        float: right;
    }
    .service-summary-box p {
        margin-left: 0px;
    }
    .show-address {
        text-align: right;
    }
}
@media(min-width:768px) and (max-width:991px) {
    .modal-dialog {
        width:600px;
    }
    .signup-account {
        font-size:20px;
        position: fixed;
        bottom: 0px;
        width: 99.8%;
    }
    .signHome {
        position:relative;
        width:100%;
    }

    .fixedmodal {
        height:auto !important;
    }
    .inspection-modal {
        height:auto;
    }
}
@media(max-width:767px) {
    .modal-dialog {
        width:90%;
        margin:10% auto;
    }
    .login-modal {
        height:339px;
    }
    .signup-p {
        margin-top:25px;
        font-size:19px;
    }
    .login-text {
        font-size:19px;
    }
    /*.registration-msg {
        font-size:25px;
    }*/
    .success-msg {
        padding:0px;
    }
    .success-msg>p {
        font-size: 20px !important;
    }
    .thankyou {
        padding:0px;
        font-size:15px;
    }
    .resetpwd {
        font-size:24px;
    }
    .signup-account {
        font-size:20px;
        position: fixed;
        bottom: 0px;
        width: 99.4%;
    }
    .signHome {
        position:relative;
        width:100%;
    }
    .change-pwd {
        height:302px;
    }
    .signup-account>p {
        top: 5px;
        position: relative;
    }
    .inspection-modal {
        height:auto;
    }
    .fixedmodal {
        height:auto !important;
    }
    .reviewmodal {
        height:100px;
    }
    .ui-datepicker {
        margin-left:-90px;
    }
    .setting-ellipsis>span>p {
        max-width: 140px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .setting-ellipsis {
        padding:0px;
    }
    #icon {
        margin-left: 0px !important;
        color: #a2a2a2;
        font-size: 24px !important;
    }
}
@media(max-width:360px) {
    #defaultCard {
        display:none;
    }
}

.mysetting-valign {
    display: flex;
    align-items: center;
    padding-right:0px;
}
.button-align {
    position: relative;
    top: 2px;
}
@media (min-width:460px) and (max-width:767px) {
    .registration-msg {
        padding:0 80px;
    }
    .thankyou {
        padding:0 30px;
    }
}
.bookConfirm {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
/*signin and signup css ends here*/

/*booking css starts here*/
.service-summary-box p span:nth-child(2) {
    float: right;
}
.service-summary-box p {
    margin-left: 0px;
}
.show-address {
    text-align: right;
}
.genie-search-div {
   /* height:409px;*/
    border:solid 1px #ddd;
    background:#fff;
}
.spinner {
    margin:20px auto 0 auto;
    width:77px;
    height:77px;
}
.submit-req {
    font-size:25px;
    color:#4c4c4c;
}
.submit-req-txt{
    font-size: 18px;
    color: #a1a1a2;
}
.req-jobid,.search-genie {
    font-size:18px;
    color:#a1a1a2;
}
.avg-wait-time {
    font-size:20px;
    margin-top:15px;
}
.time {
    font-size:41px;
    border-bottom:solid 1px #ddd;
}
.time>p {
    line-height:1;
    margin:2px;
}
.active-color {
    color:#37bde7 !important;
}
.query-msg {
    font-size:15px;
    color:#a1a1a2;
}
.query-msg>p {
    line-height:1.2;
    margin-bottom:5px;
    margin-top:5px;
}
.cancel-req {
    background:#fb7d7d;
    font-size:21px;
    color:#ffffff;
    height:43px;
    margin-top:16px;
}
.delay-time {
    font-size:18px;
}
.facing-delay {
    font-size:18px;
    /*margin-top:32px;*/
}
.facing-delay>p {
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    font-size: 23px;
    color: #a1a3ad;
}
.continue-search-txt {
    color:#37bde7;
    padding-bottom:56px;
    border-bottom:solid 1px #ddd;
    margin-top:12px;
}
.query-delay-msg {
    margin: 5px 0px 10px 0px;
}
.continue-search {
    background:#5aebb1;
}
.genie-name-box {
    margin:0 auto;
    display:flex;
    width:400px;
}
.genie-img-div {
    height:90px;
    width:90px;
    padding:0px;
}
.genie-img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 60px;
    border: solid 1px #ddd;
    margin-top: 3px;
}
.cat-img {
    max-width:35px;
    /*height:30px;*/
}
.cat-img-3x {
    max-width:65px;
}
.cat-img-prev{
    max-width:50px;
}
.cat-img-div {
    width:10%;
}
.issue {
    position: relative;
    top: -32px;
    font-size: 19px;
    left: 5px;
}
.geniefound-txt {
    font-size: 25px;
    margin-top: 15px;
    color: #a1a1a2;
}
.contact-genie-div {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #ddd;
}
.genie-btn {
    width:50%;
    height:45px;
    background:#fff;
    outline:none;
    border:solid 1px #ddd;
    font-size:25px;
    color:#a1a1a2;
}
.genie-name {
    margin-bottom:0px;
    text-align:left;
    /*margin-top:15px;*/
    font-size:25px;
    width:150px;
}
.active-jobid {
    text-align: left;
    font-size: 21px;
    margin-top: -16px;
}

/*rating1 star*/
fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating1 Widget *****/
.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
    height:28px;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating1 {
    border: none;
    /* float: left; */
    margin: -20px 0px 0px 0px;
    max-width: 320px;
    margin: 0 auto;
    margin-top: -30px;
}

.rating1 > input { display: none; }
.rating1 > label:before {
    margin: 5px;
    font-size: 4em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating1 > .half:before {
    content: "\f089";
    position: absolute;
}

.rating1 > label {
    color: #ddd;
    float: right;
    height:28px;
}

/***** CSS Magic to Highlight Stars on Hover *****/
fieldset {
    margin-top: -35px;
    margin-left: 140px;
}
.rating1 > input:checked ~ label, /* show gold star when clicked */
.rating1:not(:checked) > label:hover, /* hover current star */
.rating1:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating1 > input:checked + label:hover, /* hover current star when changing rating1 */
.rating1 > input:checked ~ label:hover,
.rating1 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating1 > input:checked ~ label:hover ~ label { color: #FFED85;  }


/*booking screen css*/
.booking-div {
    border:solid 1px #ddd;
    padding-bottom:26px;
    background:#fff;
}
.booking-div p {
    margin-bottom:0px;
    margin-top:10px;
    font-size:15px;
}
.issue-div {
    height:70px;
    border-bottom:solid 1px #ddd;
}
.issue-div>div {
    height:70px;
    padding-left:0px;
}
.issue-booking {
    top:0px;
    color:#a1a1a2;
    font-size: 20px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modify-btn, .apply-promo {
    height:20px;
    width:68px;
    background: #4C4C4C;
    color:#fff;
    border-radius:5px;
    border:none;
    outline:none;
    margin-left:20%;
}
.modify-btn {
    margin-right:50px;
}
.apply-promo {
    float:right;
}
.book-button{
    bottom: 0px;
    left: 0px;
    width: 100%; 
    position: fixed;
}
.locate-on-map{
    width: 100%;
    border-radius: 0px;
}
.rd-btn{
    width: 16px;
    height: 16px;
}
.price-details-btn{
    height: 20px;
    width: auto;
    background: #4C4C4C;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    float: left;
    position: fixed;
    top: 20px;
    right: 18px;
    display: block;
    color: white;
    z-index: 10;
}
.p-booking {
    font-size:25px;
    color:#37bde7;
}
.select-issue {
    background: #fff;
    width: 92%;
    height: 35px;
    color: #a1a1a2;
    outline:none;
}
.leave-instruction {
    max-width: 282px;
    max-height: 66px;
    width:92%;
    height:66px;
    outline:none;
}
.padding0 {
    padding:0px;
}
.genie-box {
    width:38px;
    height:35px;
    display:inline-block;
    border:solid 1px #ddd;
    margin-right:17px;
    background:#ddd;
}
.genie-box>img {
    max-width:100%;
    height:34px;
}
.upload-photo-video,.fav-genie {
    line-height:1.2;
    /*margin-top: 0px !important;*/
}
.date-box {
    height:35px;
    width:120px;
}
.date-picker {
    height:35px;
    width:36px;
}
.date-picker .fa-calendar {
    position: relative;
    top: 2px;
    color: #adadad;
}
.date {
    display:inline-block;
    /*border:solid 1px #ddd;*/
    margin-left:5px;
}
.bor-light{
    border:solid 1px #ddd;
}
.select-time {
    outline:none;
    width:84%;
    height:35px;
    margin-top:-2px;
    background:#fff;
}
.address-box {
    margin-top:10px;
}
.span-align {
    position:relative;
    top:15px;
}
.span-align1 {
    position:relative;
    top:8px;
}
.box-title {
    font-weight: 600;
    color: #a1a1a2;
    font-size: 15px;
    letter-spacing: 0.6px;
}
.address-select {
    width:92%;
    height:35px;
    background:#fff;
    outline:none;
}
.address-details {
    width:92%;
    height:80px;
    border:solid 1px #ddd;
    border-top:none;
}
.edit-address {
    margin-left:20px;
}
.delete-address {
    margin-left:8px;
}
.input-promocode {
    height: 35px;
    width: 92%;
    background: #ddd;
    border: solid 1px #ddd;
    outline: none;
}
.booking-summary {
    /*border:solid 1px #ddd;*/
    background:#fff;
}
.service-summary {
    height:42px;
    border-bottom:solid 1px #ddd;
}
.issue-summary {
    font-size: 15px !important;
    frelative;
    /*top: -32px;
    left: 40px;*/
}
.service-summary-box {
    border-bottom:solid 1px #ddd;
    margin-top:10px;
}
.service-summary-box p {
    margin-bottom:0px;
    margin-left:0px;
    line-height:1.2;
}
/*.service-summary-box p:nth-child(1) {
    margin-top:-10px;
}*/
.pricing-details {
    height:33px;
    border-bottom:solid 1px #ddd;
}
.pricing-detail {
    border-bottom:solid 1px #ddd;
}
.pricing-detail p,.review-info p {
    margin-bottom:0px;
}
.book-box {
    background: #62eab1;
    height: 50px;
    color: #fff;
}
.book-box p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.set-change-pwd {
    background: #62eab1;
    height: 50px;
    text-align: center;
}
.set-change-pwd p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.5px;
    width: 100%;
    color: #fff;
}
.comment-box {
    width: 40%;
    height: 80px;
    margin-top: 30px;/*added later*/
}

/*address screen*/
.address-modal {
    width:78.5%;
}
.address-input {
    height:31px;
    border:solid 1px #ddd;
    background:#fff;
    width:100%;
    padding-left:5px;
}
.submit-address {
    position:fixed;
    bottom:-30px;
}
.submit-address p {
    position:relative;
    top:0px;
}
.map {
    /*text-align: center;*/
    height: 300px;
    border: solid 1px #ddd;
}
.enterPromo {
    height: 40px;
    width: 100%;
    background: #ddd;
    border: none;
    outline: none;
    padding: 5px;
}
@media(max-width:767px) {
    .pleft{
        padding-left:0px;
    }
    .close-hiw {
        top: 10px;
        right: 10px;
        position: relative;
        color: #fff;
        font-size: 40px;
    }
    .genie-img-div,.genie-name {
        width:100%;
        text-align:center;
    }
    .delete-genie-div>img {
        width: 50px;
        height: 50px;
    }
    .genie-name-box {
        width:100%;
        display:block;
    }
    fieldset {
        width:150px;
        margin:0 auto;
    }
    .active-jobid {
        text-align:center;
    }
    .rating {
        float:none;
    }
    .issue {
        left:0px;
        top:0px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .genie-btn {
        width:70%;
    }
    .booking-summary {
        margin-top:40px;
    }
    .select-time,.select-issue,.leave-instruction,.address-select,.address-details {
        width:100%;
    }
    .issue-booking {
        margin-left:0px;
        font-size:14px;
    }
    .cat-img {
        margin-left:-15px;
    }
    .service-summary-box p {
        margin-left:0px;
    }
    .book-issue,.pricing-details {
        padding:0px;
    }
    .modify-btn {
        margin-left:30%;
    }
    .comment-box {
        width:90%;
    }
    .rating1 {
        margin:0 auto;
        width:180px;
    }
    .rating1 > label:before {
        margin: 5px;
        font-size: 2em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f006";
    }
    .search-map {
        margin-top:25px;
    }
    .issue-summary {
       font-size:15px !important;
    }
    .summary-details-row {
        padding:5px;
    }
    .show-address {
        text-align:right;
    }
    .modify-btn {
        margin-right:2%;
        margin-left:0%;
    }
}
@media (max-width:359px){
    .modify-btn {
        margin-right:10%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .booking-summary {
        margin-top:40px;
    }
    .search-map {
        margin-top:25px;
    }
    .show-address {
        text-align:right;
    }
    .catImgDiv {
        width:5%;
    }
    .catDiv {
        width:95%;
    }
    /*.modify-btn {
        margin-left:60%;
    }*/


}
@media(min-width:992px) and (max-width:1199px) {
    .select-issue,.leave-instruction,.address-select,.address-details {
        width:100%;
    }
    .service-summary-box {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 291px;
    }
    .issue {
        font-size:17px;
    }
}
/*@media(min-width:1200px) {
    .service-summary-box {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 358px;
    }
}*/

/*my booking screens*/
.mybookings > li.active > a, .mybookings > li.active > a:focus, .mybookings > li.active > a:hover {
    color: #fff;
    background-color: #37bde7;
    font-size:16px;
}
.mybookings>li {
    width:50%;
    text-align:center;
}
.mybookings>li>a {
    border-radius:0px;
    background:#ddd;
    color:#4c4c4c;
    font-weight:600;
    letter-spacing:1px;
    font-size:16px;
}
.mybookings>li>a:hover {
    background:#ddd;
}
.mybookings > li + li {
    margin-left: 0px;
}
.promo-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 58.33333333%;
}
.search-tab-div .form-control {
    border-radius:0px;
    padding-left:40px;
    font-size:18px;
}
.search-tab-div .form-group {
    margin-bottom:0px;
}
.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
}
.ongoing-list {
    height:120px;
}
.service-img-div {
    width:106px;
    height:106px;
    border:solid 1px #ddd;
    border-top:solid 1px #ddd;
    border-radius:50%;
    background:#37bde7;
    margin-left:10px;
}
.service-img-div>img {
    margin:0 auto;
    max-width:90px;
}
.pay-now,.view-detail {
    width:125px;
    height:34px;
    background:#ddd;
    color:#4c4c4c;
    border:none;
    margin-top: 15px;
    margin-right: 20px;
}
.view-detail {
    color:#ffffff;
}
.btn-grp-pay {
    font-size: 16px;
    text-transform: capitalize;
    margin-top:17px;
    text-align: right;
}
.PENDING {
    color:#fb7d7d;
    text-transform: uppercase;
}
.completed-grp-pay {
    margin-top: 30px;
}
.btn-grp-pay>span>span {
    margin-right:5px;
}
.view-detail {
    background:#37bde7;
}
.ongoing-list-border {
    /*border:solid 1px #ddd;*/
    border-top:none;
    background:#fff;
}
.job-id{
    color: #fb7d7d !important;
}
.genie-contact{
    background-color: #67e9b4 !important;
}
.service-booking-txt {
    margin-left:10px;
    width:50%;
}
.bk-dt-ti{
    color: lightgray;
    font-size: 14px;
}
.service-booking-txt p {
    margin-bottom:0px;
    font-size:18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
@media (max-width:767px) {
    .ongoing-list {
        height:auto;
        margin-top:5px;
    }

    .view-detail {
        float: right;
    }
    .status-pos {
        position: absolute;
        top: -25px;
        right: 10px;
    }
    .btn-grp-pay>span>span {
        margin-right: 0px;
    }
    .service-booking-txt p {
        text-align: right;
        line-height: 1.3;
    }
    .service-booking-txt {
        width: 50%;
        margin-left: 0px;
        padding-right: 10px;
    }
    .btn-grp-pay {
        margin-bottom:10px;
        margin-top:0px;
    }
    .ongoing-list-border {
        border-top:solid 1px #ddd;
    }
    .container-mybooking {
        padding:0px;
    }
    .pay-now,.view-detail {
        width:100px;
    }
}
/*paymentmethod*/
.saved-cards-div {
    height:63px;
    background:#f3f3f3;
    margin-bottom:15px;
}
.saved-cards-div input[type="radio"]{
    margin-top:9px;
    font-size:18px;
}
.card-number {
    font-size:18px;
    color:#a1a1a2;
}
.saved-cards-div p {
    width:100%;
    margin-top:15px;
}
.saved-card-delete {
    background:#37bde7;
    color:#fff;
    height:34px;
    width:125px;
    border:none;
    outline:none;
}
.select-saved-cards-row, .saved-cards-row {
    height:449px;
    /*border:solid 1px #ddd;*/
    background:#fff;
    padding:0 70px;
}
.update-cards {
    background:#67e9b4;
    height:39px;
    color:#fff;
}
.update-cards p {
    margin-bottom:0px;
    position:relative;
    top:7px;
    font-size:18px;
}
.saved-cards-txt {
    font-size:22px;
    margin-top:30px;
    margin-bottom:30px;
    padding:0 5px;
}
.others-text {
    font-size:16px;
}
@media(max-width:767px) {
    .saved-cards-row {
        padding:0px;
    }
    .saved-card-delete {
        width:70px;
    }
    .card-number {
        font-size:16px;
    }
    .select-saved-cards-row {
        padding:0px;
    }
    .address-list {
        font-size: 16px !important;
    }
    .add-review-address {
        margin-bottom:0px !important;
    }
}
/*add or review address*/
.add-review-address {
   /* text-transform:UPPERCASE;*/
    text-align:center;
    margin:30px 0px;
    font-size:22px;
}
.address-list {
    margin-bottom: 0px;
    font-size: 18px;
}
.address-col {
    height: 80px;
    background: #ececec;
}
.edit-btn, .delete-btn {
    color:#fff;
    background:#000;
    width:125px;
    height:35px;
    border:none;
    margin-right:7px;
}
.delete-btn {
    background:#37bde7;
}
.add-review-row {
    height: auto;
    /*border: solid 1px #ddd;*/
    background:#fff;
}
.span-float {
    float:right;
}
.add-review-list {
    padding:0 50px;
    margin-top:20px;
}
.row-add p {
    margin-bottom:0px;
    margin-top:10px;
}
@media (max-width:767px) {
    .span-float {
        float:none;
    }
    .address-col {
        text-align:center;
        padding-bottom:10px;
        height:auto;
    }
    .fav-genie-col {
        height: auto;
    }
    .xs-catimage {
        width: 50%;
        text-align: center;
    }
    .genie-col {
        padding-bottom:0px;
    }
    .delete-btn {
        /*margin-top:10px;*/
    }
    .service-img-div>img {
        max-width: 50px;
    }
    .service-img-div {
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }
    .add-review-list {
        padding:0 15px;
        margin-top:20px;
    }
    .genie-col {
    padding-bottom: 0px;
}
    .add-review-list {
        padding: 0 15px;
        margin-top: 13px;
    }
    .complaint-list p, .complaint-list fieldset {
        margin-bottom: 5px;
    }
    .fav-genie-row {
        height: auto;
    }
}
.complaint-list p, .complaint-list fieldset {
    line-height: 1;
}
/*favourites genie*/
/*.delete-genie-div {
    width:75px;
    height:75px;
}*/
.delete-genie-div .genie-name {
    font-size:20px;
}
/*.delete-genie-div>img {
    width:75px;
    height:75px;
}*/
.address-col .genie-name {
    width:100%;
}
.rating-delete-genie {
    margin-left:0px;
    margin-top:-10px;
}
.delete-genie-issue>.cat-img {
    max-width:20px;
}
.delete-genie-issue>.issue {
    top:-17px;
    font-size:17px;
}
.search-service {
    width: 50%;
    height: 45px;
    border-radius: 7px;
    font-size: 17px;
    padding-left: 15px;
    font-weight: initial;
    color: #989696 !important;
    border: solid 1px #f2f2f2;
}
/*.update-fav-genie {
    background:#7cf2b1;
    font-size:21px;
    color:#ffffff;
    height:43px;
    margin-top:52px;
}*/
@media (max-width:767px) {
    .rating-delete-genie {
        margin:0 auto;
        margin-top:-10px;
        width:150px;
    }
    .delete-genie-div {
        width:100%;
    }
    .fav-genie-row {
        height:auto;
    }
    .fav-cat-img {
        margin-left:0px;
    }
}

/*service details and pricing details css starts here*/
.containerSize{
    min-height:125px;
    width:auto;
    border-radius: 0px;
    padding:0 15px;
}
#serviceDetails-note {
    margin-top:-20px;
}
.row-padding{
    padding:0 15px;
}
.ac-img{
    max-width:30px;
}

.air-conditioning,.inspection,.fixed-service{
    font-size:12.47px !important;
    color:#37bde7;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*font-family:HOKSansPro;
    text-align:center;*/
}
.fixed-service{
    text-align:right;
}
.air-conditioning-position{
    padding:0px;

}
.pricing-service-detail{
    font-size:24.5px;
    color:#37bde7;
    /*font-family:TodaySHOP;*/
    line-height:1;
    text-align:center;
}
.support-title {
    position: relative;
    top: 2px;
}
.border-pricing-detail,.border-service-detail{
    border-bottom: solid 1px #ddd;
    margin-top:15px;
}
.no-padding{
    padding:0px;
}
.inspection{
    line-height:2;
    text-align:right;
}
.margin-charges{
    height:120px;
    margin-top:25.13px;
}
.charges,.call-out-charges{
    font-size:19.14px;
    /*font-family:TodaySHOP;*/
    margin-bottom:0px;
}
.charges,.aed{
    color:#37bde7;
}
.call-out-charges{
    color:#a1a1a2;
}
.note{
    bottom:0px;
    border-top: solid 1px #ddd;
    color:#909090;
}
.note-margin{
    margin:0px;
}
.note-margin-top{
    margin-top:5px;
}
/*CSS for service details only*/

.whats-included{
    font-size:17.14px;
    /*font-family:TodaySHOP;*/
    margin-bottom:0px;
    color:#757575;/*
    margin-top:-20px;*/
}

.whats-included-margin{
    margin-bottom:0px;
    margin-top:10px;
}
.note-font-servicedetails{
    font-size:15.37px;
    margin-top:19.25px;
    /*font-family:TodaySHOP-regular;*/
}
.whats-included-height{
    height:100px;
}

@media(min-width:320px) and (max-width:767px) {
    .service-summary {
        padding:0px;
    }
    .containerSize {
        height:auto;
        width:auto;
        text-align:left;
    }
    .pricing-service-detail,.fixed-service,.inspection {
        text-align:left;
        padding:0px;
    }
    .pricing-service-detail {
        /*margin-top:20px;*/
    }
    .whats-included-height {
        height:auto;
        margin-top:20px;
    }
    .note-margin-pricing{
        margin-top:15px;
    }
    .note-margin-top{
        margin-top:15px;
    }
    .basic-installation{
        margin-top:10px;
    }
    .ac-img{
        max-width:30px;
    }
    .air-conditioning {
        font-size:14px !important;
    }

}
.note-call-out-charges,.note-margin {
    padding-bottom:10px;
}
#serviceDetails-note {
     padding-bottom:20px;
 }
.aright {
    text-align:left !important;
    float: left !important;
    margin-top: 0px !important;
    /*width: auto !important;*/
}

/*payment method gateway*/
.expiry-date-list {
    list-style-type:none;
    padding:0px;
}
.expiry-date-list>li {
    display:inline-block;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {-moz-appearance: textfield;}
.paymentgateway p {
    margin-bottom:0px;
    margin-top:10px;
    color:#a1a1a2;
}
.paymentgateway .update-cards p {
    margin-top:2px;
    color:#fff;
}
.card-calendar {
    padding: 4px;
    background: #ddd;
    margin-left: 10px;
    margin-right: 10px;
    color: #a1a1a2;
    font-size: 24px;
    position: relative;
    top: 6px;
}
.img-payfort {
    max-width: 20%;
    position: relative;
    top: -98px;
    float: right;
}
input {
    outline:none;
    border-radius:0px;
}
.input-save-card {
    margin-top: 15px;
    margin-bottom: 15px !important;
}
.paymentgateway .input-group, .card-holder {
    width:50%;
}
.security-info {
    padding:0px;
    list-style-type:none;
    width:80%;
}
.row-gateway {
    padding:20px 15px;
    background:#fff;
}
.security-info>li:nth-child(1) {
    color:#a1a1a2;
    font-size:15px;
}
.row-gateway .active-color {
    color:#37bde7;
}
.row-gateway input {
    height:32px;
}
.row-gateaway .input-group-addon {
    border-radis:0px;
}
.save-card-text {
    font-size: 16px;
    position: relative;
    top: -12px;
}
.gateway-div {
    height:440px;
}
.booking-btn-align {
    position: relative;
    top: 2px;
}
@media (max-width:767px) {
    .paymentgateway .input-group, .card-holder {
        width:95%;
    }
    .btn-grp-pay {
        font-size: 16px;
        text-transform: capitalize;
        text-align: inherit;
        width: 100%;
        float: none !important;
        }
    .btn-grp-pay {
        margin-bottom: 10px;
        margin-top: 5px;
        position: relative;
        height: 40px;
        padding: 0 7px;
    }
    .pay-now, .view-detail {
        width: 47%;
        margin: 0px 1.2%;
    }
    .completed-details {
        width: 100%;
        margin-top: 0px;
    }
    .security-info {
        width:100%;
    }
    .img-payfort {
        max-width: 100%;
        position: relative;
        top: 0px;
        float: right;
        width:110px;
    }
}

/*support css faq and complaints*/
.collapse-div,.collapsed-div {
    border-bottom:solid 1px #ddd;
}
.collapse-div {
    min-height:40px;
}
.collapse-div p, .collapsed-div p {
    margin-bottom:0px;
    padding:0 20px;
    width:100%;
    font-size:16px;
}
.collapsed-div p {
    color:#a1a1a2;
}
.support-mail {
    /*padding: 0 15px;*/
    margin-top: 50px;
}
.complaints-genie-name-box {
    margin:0px;
}
.complaint-list {
    padding: 0 15px;
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px;
}
.complaint-list p,.complaint-list fieldset {
    line-height:1;
}
.complaint-list fieldset {
    margin-top:1px;
}
.complaint-list .address-col,.complaint-list .genie-name-box {
    /*width: 320px;*/
    padding: 0px;
    background:#fff;
}
.complaints-genie-name-box div:nth-child(2) {
    height:80px;
}
.resolved-complaints {
    margin-top: 25px;
    font-size: 25px;
    position: relative;
    top: -80px;
    color: #67e9b4;
}
.search-service {
    width: 50%;
    height: 45px;
    border-radius: 7px;
    font-size: 17px;
    padding-left: 15px;
    font-weight: initial;
    color: #989696;
    border: solid 1px #f2f2f2;
    font-family: "font124022";
}
.complaint-text {
    width:80%;
    /*margin-top:15px;*/
    min-height:52px;
    font-size:16px;
}
.complaint-box {
    height:80px;
}
.OPEN {
    color:#fb7d7d;
}
.booking-btn-align {
    position:relative;
    top:2px;
}
@media (max-width:767px) {
    .complaints-genie-name-box div:nth-child(2),.complaint-box {
        height: auto;
    }
    .complaint-text {
        width:100%;
        margin-top:0px;
    }
    .complaint-genie {
        width: 33.33%;
        height: auto;
    }
    .resolved-complaints {
        top:0px;
    }
    .pad0-xs {
        padding: 0px !important;
    }
    .genie-name-box {
        width: 100%;
        display: block;
    }
    .address-col {
        text-align: center;
        padding-bottom: 10px;
        height: auto;
    }
    .fav-genie-col {
        height: auto;
    }
    .delete-btn-right {
        float: right;
    }
    .deletegeniebox {
        margin-top: 0px !important;
    }
    .delete-btn {
        margin-top: 15px;
        margin-right: 0px;
    }
    .complaint-genie {
        width: 33.33%;
        height: auto;
    }
    .search-service {
    width: 230px;
    height: 40px;
    font-size: 12px;
}
}
@media (min-width:768px) and (max-width:991px) {
    .complaint-list .delete-genie-issue>.issue {
        font-size: 13px;
    }
    .complaint-list .genie-name-box {
        width: 250px;
    }
    .complaints-genie-name-box div:nth-child(2) {
        height:auto !important;
    }
    .address-col {
        height:80px !important;
    }
}
/*basic info css*/
.BasicInfo{
    height:487.16px;
    width:90%;
    background-color: #fff;
    text-align:center;
}
.basicInfoInputHeight{
    height:386.09px;
}
.BasicInfoMargin,.completeProfileMargin,.inputBasicInfoMargin{
    margin-top:14.43px;
}
.GenieImage{
    height: 56.14px;
    width:61px;
    border:solid 1px #ddd;
}
.completeProfile{
    font-size:17.8px;
    color:#3e474a;
}
.inputBasicInfo{
    height:38.5px;
    width:90%;
    margin:0 auto;
    outline:none;
}
input:focus {
    outline:none;

}
.inputBasicInfoColor{
    color: #979797;
    background-color: #f1f1f1;
    border-radius: 0px;
    box-shadow: none;
    border: solid 0px #ddd;
}
.inputBasicInfoColor:focus {
    border-color:#ddd;
    box-shadow:none;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.baseBasicInfo{
    background-color:#67e9b4;
    height:38.5px;
    width:100%;
    margin-top:48.12px;
}
.update{
    color:#ffffff;
    font-size:21.8px;
    line-height:2;
}

/*my settings*/
.background-icon {
    line-height: 1;
    /*padding: 15px;*/
    background: #ddd;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    width:75px;
    height:75px;
}
.background-icon p {
    width:100%;
    text-align:center;
    /*margin-top:15px;*/
}
.settings-row {
    background: #fff;
    width: 90%;
    margin: 0 auto;
}
.setting-btn {
    color: #fff;
    background: #4c4c4c;
    width: 125px;
    height: 35px;
    border: none;
    margin-right: 7px;
}
.settings-row p {
    margin-bottom:0px;
}
.setting-btn-row {
    text-align:right;
    width:100%;
}
.settings-row>div {
    background: #f7f7f7;
    margin-bottom:10px;
}
.settings-row>div:nth-child(5) {
    background:#fff;
}
.info-row {
    height:95px;
    font-size:16px;
}
.cc-btn {
    background:#37bde7;
}
.promotions .background-icon {
    background:none;
}
.refer-earn {
    height: 40px;
    background: #ddd;
    margin-top: 80px;
    font-size:22px;
}
.refer-earn p span {
    font-size: 32px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
@media(max-width:767px) {
    .settings-row {
        width:100%;
    }
    .setting-container {
        padding:0px;
    }
    .setting-btn {
        width:78px;
        /*padding:0 15px;*/
    }
    .promotions .background-icon {
        width:auto;
    }
    .promotions .setting-btn {
        width:97px;
        margin-left:-30px;
    }
}
@media (max-width:360px) {
    .promotions .setting-btn {
        margin-left: -45px;
    }
    .setting-btn {
        width:auto;
    }
}
@media(min-width:992px) and (max-width:1200px) {
    .settings-row {
        width:100%;
    }
}
/*notifications*/
.notifications {
    background:#ffca09;
    color:#fff;
    padding:5px 10px;
    border-radius:5px;
}
.notification-div {
    background:#fff;
    margin-bottom:10px;
}
.notification-container .background-icon{
    background:none;
}
.not-row {
    width:90%;
    margin:0 auto;
}
@media(max-width:767px) {
    .not-info {
        height:auto;
    }
    .notification-container .background-icon{
        width:auto;
    }
    .not-row {
        width:100%;
    }
    .not-div {
        padding:0px;
    }
}

/*view details css*/
.assigned {
    color:#67e9b4;
}

.job-details-modal {
    width: 831px;
    height: auto;
    border-radius: 0px;
    color: #737373;
}
.job-details-dialog {
    width:831px;
}
.job-assignee-row {
    height:65px;
    border-bottom:solid 1px #ddd;
    font-size:24px;
    margin-top:-10px;
}
.bookingdate {
    font-size:16px;
    position: relative;
}
.issue-instruction {
    font-size:16px;
    background:#f2f2f2;
    min-height:446px;
}
.service-imgs {
    max-width:20px;
}
.issue-detail, .datetime-left {
    margin-left:20px;
}
.issue-pricing-row {
    margin-top:5px;
}
.service-p {
    border-bottom:solid 1px #fff;
    margin-top:5px;
    height: auto;
}
.instruction-row {
    padding-left:20px;
}
.instruction-row p {
    margin-bottom:0px;
}
.details-genie-img {
    max-width:55px;
    height:55px;
    padding:0px;
}
.details-genie-img>img {
    margin:0px;
    width:55px;
    height:55px;
}
.details-genie-name {
    margin-top:10px;
}
.rating-detail-genie > label:before {
    margin: 5px;
    font-size: 0.8em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating-detail-genie {
    margin: 0px;
    margin-top: -15px;
}
.detail-contact {
    width:288px;
    height:32px;
    border:solid 1px #ddd;
    background:none;
    outline:none;
}
.summary-details-row {
    font-size:16px;
}
.summary-details-row p {margin-bottom:0px;}
.summary-service {
    margin-top: 25px;
    margin-bottom: 0px;
    border-bottom: solid 1px #ddd;
}
.newJobs {
    float:right;
}
@media (max-width:767px) {
    .job-details-dialog {
        width:90%;
    }
    .job-details-modal {
        width:100%;
        height:auto;
        padding-top:15px;
    }
    .job-assignee-row {
        font-size:16px;
        height:auto;
    }
    .issue-instruction {
    min-height: inherit;
    height: auto;
}
    .job-detail-id,.bookingdate {
        top:0px;
    }
    .detail-genie-name-box {
        margin:0px;
    }
    .detail-contact {
        width:100%;
        font-size:14px;
    }
    .details-genie-img {
        max-width: 100%;
    }
    .details-genie-img>img {
        margin:0 auto;
    }
    .issue-instruction {
        min-height:inherit;
        height:auto;
    }
    .instruction-row {
        padding:0px !important;
    }
    .mycomplaints {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .issue-detail, .datetime-left {
        margin-left: 0px;
    }
    .bookingdate {
        float:none;
        text-align:center;
    }
    .newstatus {
        text-align:center;
    }
    .newJobs {
        float:none;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .job-details-dialog {
        width:95%;
    }
    .job-details-modal {
        width:100%;
        height:auto;
    }
    .job-assignee-row {
        font-size:19px;
        height:65px;
        margin-top:-20px;
    }
    .job-detail-id {
        position:relative;
        top:18px;
    }
    .bookingdate {
        top: 0px;
    }
    .detail-genie-name-box {
        margin:0px;
    }
}
/*earn genie cash css*/
.EarnGenie{
    height:500px;
    width:90%;
    background-color: #fff;
    text-align:center;
}
.earned p, .inviteFriend p{
    margin-bottom:0px;
}
.cashImage{
    margin-top:17.64px;
}
.cashImage-genie{
    width:97.9px;
    height:70.58px;
}
.youEarned , .inReferral{
    font-size:27.4px;
    color:#9fa1a1;
}
.earned{
    margin-top:20px;
}
.aed50{
    font-size:31px;
    color:#575757;
}
.inReferral,.aed50 , .inviteFriend{
    line-height: 1;
}
.giftAED, .shareCode{
    font-size:24px;
    color:#37bde7;
}
.inviteFriend{
    font-size:24px;
    color:#888989;
}
.refferalCode{
    height:48.12px;
    width:226.2px;
    background-color: #d4d4d4;
    margin:0 auto;
    margin-top:16px;
    line-height:3.5;
}
.imageDiv{
    height: 52px;
    width:52px;
    border:solid 1px #ddd;
    border-radius:50%;
    display:inline-block;
}
.imageDiv>img {
    width: 28px;
    height: 28px;
    margin-top: 11px;
}
.jobdetails-issue-instruction {
    min-height: auto;
    height: auto;
}
@media(min-width:320px) and (max-width:767px) {
    .EarnGenie {
        height: auto;
    }
}
/*offers css*/
.mbottom {
    margin-bottom:0px;
}
.font26 {
    font-size:26px;
}
.font22 {
    font-size:22px;
}
.geniesearch-container {
    margin-top:170px;
}
.nav-title-div {
    font-size: 24px;
    border-bottom: 0px;
    color: #fff;
    margin-top: 5px;
    padding-left: 50px;
}
.nav-title-container {
    margin-top:30px;
}
.search-notification {
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 50px;
}
@media(max-width:767px) {
    /*.geniesearch-container,.nav-title-container {
        margin-top:20px;
    }*/
    .nav-title-div,.search-notification {
        padding-left: 10px;
    }
    .geniesearch-container {
        margin-top:130px;
    }
}
@media(min-width:768px) and (max-width:991px) {
    /*.geniesearch-container,.nav-title-container {
        margin-top:20px;
    }*/
    .nav-title-div,.search-notification {
        padding-left: 20px;
    }
}
.booking-home {
    width: 600px;
    height: auto;
    border: solid 1px #ddd;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.service-select {
    width: 260px;
    background: #fff;
    height: 40px;
    margin-bottom: 10px;
    outline:none;
    border-radius: 5px;
}
.map-continue{
    position: absolute;
    bottom: 0px;
}
.map-content{
    height: 350px;
}
.booking-sumary{
    font-size: 20px;
    font-weight: 600;
    color: #a1a1a2;
    letter-spacing: 0.6px;
    margin-top: 10px;
}
.booknow {
    background: #37bde7;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom:15px;
    padding-top:5px;
}
.service-category {
    font-size: 13px;
    color: #a2a2a2;
}
.bookingnow-text {
    font-size:22px;
    margin-top:10px;
}
.service-box-cat {
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #777777;
}
.serv-box .sprite {
    color: #37bde7;
    width: 40px;
    height: 50px;
    display: inline-block;
}
.serv-box .sprite-tech {
    background: url(../images/services-sprite.png) 0px -2005px no-repeat;
}
.ui-datepicker {
    position:relative;
    z-index:2;
}
.show-address span {
    margin-ledft:50px;
}
@media(min-width:768px) and (max-width:780px) {
    .booking-div-container {
        width:720px;
    }
}
/*booking images*/
.book-img-container {
    height:120px;
    background:#32bfea;
    margin-bottom:20px;
}
.img-book {
    max-width:80px;
    margin-top:10px;
}
.img-rect {
    max-width:20%;
    margin-top:10px;
}
.status-text div {
    display:inline-block;
}
.status-div {
    width:80px;
    color:#fff;
    font-size:18px;
    font-weight:600;
}

@media(max-width:767px) {
    .img-book {
        max-width:50px;
        margin-top:10px;
    }
    .img-rect {
        max-width:20%;
        margin-top:10px;
    }
    .book-img-container {
        height:80px;
    }
    .booking-home {
        width:90%;
    }
    .status-div {
        width: 50px;
        font-size: 15px;
    }
    .relax-div {
        padding:0px;
        font-size:15px;
    }
    .relax-div p {
        top:14px !important;
    }
    .facing-delay>p {
        width:90%;
        font-size:18px;
    }
    .rate-cat-xs div {
        display:inline-block;

    }
    .geniefound-txt {
        font-size:18px;
    }
    .contact-found {
        margin-top:0px;
    }
}
#map>div {
    margin-left:-15px;
}
.claim:active,.claim:hover,.claim:focus{
    background: #fff !important;
    color: rgb(61,190,232) !important;
    border: 0px;
}
.autocomplete-suggestions {
    background: #f2f2f2 !important;
    padding: 5px !important;
    padding-left: 15px !important;
    font-size: 17px;
    max-height: 150px !important;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom:solid 1px #fff;
}
.autocomplete-suggestion strong {
    color:#32bfea;
}
.autocomplete-suggestion {
    letter-spacing:0.5px;
}
.booking-msg {
    padding: 20px;
    background: #fff;
    text-align: center;
    font-size: 18px;
}
.userprofile-img {
    height: 80px !important;
    border-radius: 50%;
}
.userimg-label {
    width: 80px;
    height: 80px;
    background:#fff;
}
.userpic-upload {
    border-radius: 50%;
    max-width: 80px;
    height: 80px;
    margin: 0 auto;
}
/*for map*/
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}
.genieSelected {
    width:100%;
}
.filesSelect {
    height: 25px !important;
    width: 25px;
    margin: 0 auto;
    margin-top: 4px;
}
@media(min-width:768px) and (max-width:779px) {
    .container {
        width:740px;
    }
}
.modalOpen {
    overflow:hidden;
}
.rating-detail-genie > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #ddd !important;
}
.rating-delete-genie > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #ddd !important;
}
.continue {
    background: #62eab1;
    /*position: fixed;*/
    color: #ffffff;
    /*bottom: 0;*/
    font-size: 18px;
}
.continue p {
    font-size: 18px;
    margin-bottom: 0px;
    height: 40px;
    top: 8px;
    position: relative;
}
.serviceBased {
    font-size: 20px;
    color: #b7b7b7;
    margin-top:20px;
}
.genieModal {
    height:80px;
}
.genie-text {
    font-size: 22px;
    margin-top: 20px;
}
.geniemsg {
    padding: 0px;
    background: #62eab1;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.geniemsg p {
    margin-bottom: 0px;
    position: relative;
    top: 5px;
}
.service-detail-img {
    margin-left:20px;
}
@media (max-width:767px) {
    .service-detail-img {
        margin-left:0px;
    }
    .mbottom {
        margin-bottom:0px;
    }
    .font18 {
        font-size:18px;
    }
    .font15 {
        font-size:15px;
    }
    .service-summary-box {
        padding-right:0px;
    }
    .service-summary-box p span:nth-child(2) {
        float:right;
    }
    .completed-details {
        margin-top:0px;
    }
    .completed-grp-pay {
         margin-top: 0px;
    }
    .genie-text {
        font-size:18px;
    }
    .settting-ellipsis {
        padding:0px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .genie-text {
        font-size: 22px;
        margin-top: 20px;
    }
}
/*.pleft {
    padding-left:5px;
}*/
.mybooking-tab {
    position: relative;
    top: 3px;
}
/*css for vertically align modal*/
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
/*end*/
.newpwd {
    height:334px;
}
.re-generate-otp {
    background: #fb7d7d;
    border: solid 1px #fb7d7d;
    color: #fff;
}
@media (max-width:370px) {
    .datetime-left {
        font-size:13px;
    }
}
.services-list {
    list-style-type: none;
    padding:0px;
    margin-bottom:0px;
}
.services-list>li {
    display:inline-block;
    color:#a2a2a2;
}
.address-delete-confirm {
    margin-top:15px;
    font-size:22px;
}
.confirm-delete {
    background: #62eab1;
    color:#fff;
    height:36px;
}
.confirm-delete p {
    margin-bottom:0px;
    position:relative;
    top:7px;
    font-size:20px;
}
.show-address {
    float: right;
    margin-top: -14px;
}
.summary-address {
    width: 200px;
}
.rating-issue {
    top: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.genie-rate-img {
    height:auto;
}
.card-icon {
    margin-right: 20px;
    position: relative;
    top: 7px;
    color: #929292;
}
#rejected {
    font-size:20px;
}
@media(max-width:340px) {
    .card-icon {
        margin-right: 5px;
    }
}
.page-header {
    background: #3dc0e9;
    padding: 0px;
    margin: 0px;
    height: 40px;
    color: #fff;
}
.page-header div {
    height:38px;
}
.back-button {
    height: 20px;
    width: 68px;
    background: #4C4C4C;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    float: left;
    position: fixed;
    top: 15px;
    right: 0px;
    display: block;
    color: white;
    z-index: 10;
}
.editbag{
    background: #4C4C4C !important;
}
.back-button span {
    position: relative;
    top: 1px;
}
.page-header-text {
    font-size:22px;
}
@media(min-width:540px) and (max-width:767px) {
    .back-button {
        width:78px;
        margin-right: 5px;
    }
}
@media(min-width:421px) and (max-width:539px) {
    .setting-btn {
        margin-right:0px;
    }
    .back-button {
        width:78px;
        margin-right:15px;
    }
}
@media (min-width:396px) and (max-width:420px) {
    .back-button {
        width:78px;
        margin-right:5px;
    }
}
@media (min-width:376px) and (max-width:395px) {
    .back-button {
        width:78px;
        margin-right:5px;
    }
}
@media (min-width:361px) and (max-width:375px) {
    .back-button {
        width: auto;
        margin-right: 15px;
    }
}
@media (min-width:350px) and (max-width:360px) {
    .back-button {
        width:78px;
        margin-right:5px;
    }
}
.auto-height {
    height:auto !important;
}
.address-jobdetails {
    position:relative;
    top:-20px;
}
.address-jobdetails span {
    float:right;
}
.genie-rate {
    height:80px;
}
@media (max-width:767px) {
    .genie-rate {
        height:50px;
    }
    .address-jobdetails {
    position: relative;
    top: 0px !important;
    float: none !important;
}
.search-service {
    width: 230px;
    height: 40px;
    font-size: 17px;
}
}
.jobdetails-pricing-row {
    min-height:400px;
    padding-bottom:10px;
}
.jobdetails-issue-instruction {
    min-height:auto;
    height:auto;
}
.issue-support {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}
.error-message {
    padding: 10px;
    background: #C0392B;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
.submit-btn {
    width: 100%;
    border: none;
    height: 42px;
    color: #fff;
    background: #67e9b4;
    font-size: 18px;
}
.backhome {
    margin: 0 auto;
    color: #fff;
    background: #67e9b4;
    border: none;
    height: 40px;
    padding: 0 18px;
    font-size: 18px;
    border-radius: 5px;
}
.transaction-status {
    font-size: 20px;
    margin-top: 50px;
}
