.passwordReset {
    height: 428px;
    width: 320px;
    background-color:#ffffff;
    font-family: "Source Sans Pro", sans-serif;
    border:solid 1px #ddd;
    margin-top:6%;
}
.passwordResetImage{
    height:172px;
    width:320px;
    background-color:#3a3f51;
}
.passwordResetImage img{
    margin:0 auto;
}
.vertical-align {
    display:flex;
    align-items:center;
}
.password{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    color:#656565;
    display:block;
}
.inputPasswordReset input,.reset{
    height:35px;
    width:100%;
    border:solid 1px #dde6e9;
    border-radius: 5px;
    padding-left:20px;
    margin-top:5px;
}
.inputPasswordReset p{
    margin:0 auto;
}
.email,.newPassword{
    color:#909fa7;
    padding-top:10px;
}
.reset{
    margin-top:20px;
}